@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Nosifer&family=Open+Sans:ital,wght@0,500;0,600;0,700;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
ol,ul{
  list-style: none;
}
a{
  text-decoration: none;
}

:root{
  /* text */
  --dci-text-xs: 12px;
  --dci-text-s:14px;
  --dci-text-m:16px;
  --dci-text-l:22px;
  --dci-text-xl:30px;

  /* colors */
  --dci-darckblue: #0060a7;
  --dci-blue: #007bff;
  --dci-indigo: #6610f2;
  --dci-purple: #6f42c1;
  --dci-pink: #e83e8c;
  --dci-red: #dc3545;
  --dci-orange: #fd7e14;
  --dci-yellow: #ffc107;
  --dci-green: #28a745;
  --dci-teal: #20c997;
  --dci-cyan: #17a2b8;
  --dci-white: #fff;
  --dci-gray: #6c757d;
  --dci-gray-dark: #343a40;
  --dci-primary: #007bff;
  --dci-secondary: #6c757d;
  --dci-background: #1b2031;
  --dci-success: #28a745;
  --dci-info: #17a2b8;
  --dci-warning: #ffc107;
  --dci-danger: #dc3545;
  --dci-light: #f8f9fa;
  --dci-dark: #343a40;

    /* brackpoint @media */
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    
    /* paddings */
    --dci-padding-s: 5px;
    --dci-padding-m: 10px;
    --dci-padding-l: 15px;
    --dci-padding-xl: 20px;

    /* margins */
    --dci-margin-s: 10px;
    --dci-margin-m: 20px;
    --dci-margin-l: 30px;
    --dci-margin-xl: 50px;

    /* border radius */
    --dci-border-radius-s: 5px;
    --dci-border-radius-m: 8px;
    --dci-border-radius-l: 10px;
    --dci-border-radius-xl: 12px;
}
body{
  height: 100svh;
  width: 100%;
  color:  #212529;
  text-align: left;
}
main{
  background-color: #eff0f4;

}
.supnav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.topbar{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  margin-top: 5px;
}

.logo{
  margin: 0px 10px -15px 5px;
  width: 150px;
  padding: var(--dci-padding-s);
}
.logo1{
  width: 100%;
  max-width: 210px;
  height: auto;
  padding: var(--dci-padding-s);
}
h1{
  margin-top: 3px;
  font-size: 40px;
}
.code{
  display: flex;
  padding: 12px 0px 0px 14px;
  width: 175px; 
  font-size: var(--dci-text-s);

}
.textcp {
  width: 130px;
  padding: 4px 0 4px 10px;
  font-size: 12px;
  line-height: 11px;
  color: #4e5775;
}
.buscador{
  width: 40%;
  display: flex;
}
.form-search{
  margin-top: 10px;
  width: 100%;
  margin-left: 5%;
  position: relative;
}
#buscador{
  width: 100%;
  padding: 2px 27px 3px 15px;
  height: 40px;
  background-color: #eaf1f2;
  font-size: 14px;
  border: 0px;
  border-radius: 100px;
}
.search{
  filter: grayscale(1);
}
.button{
  border: none;
  border-radius: 100px;
  height: 27px;
  line-height: 0rem;
  position: absolute;
  width: 40px;
  cursor: pointer;
  right: 15px;
  top: 6px;
}
button, imput{
  cursor: pointer;
  overflow: visible;
}
.micuenta, .seguimiento, .carrito{
  padding: var(--dci-padding-m);
}

.micuenta a, .seguimiento a, .carrito a{
  color: #4e5775;
  font-size: var(--dci-text-s);
  display: block;
  text-align: center;
}
.carrito{
  margin-right: 10px;
}
.flex-bar{
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  margin-left: auto;
}

.secondbar{
  height: 50px;
  width: 100%;
  border: 2px solid #eaf1f2;
  display: flex;

}
.menu-blue{
  display: none;
}
.menu-white{
  background-color: var(--dci-darckblue);
  width: 250px;
}
.menu-white:hover{
  background-color: #e2271d;
}
.btn{
  gap: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  font-size: var(--dci-text-m);
  font-weight: bold;
  padding: 10px 8px;
  color: var(--dci-white);
}
.btn img{
  width: 21px;
  height: 21px;
  vertical-align: middle
}
.list{
  display: flex;
  margin-left: auto;
}
.list li{
  border: 1px solid #eaf1f2;
}
.list li:hover{
  text-decoration: underline;
  color: #0060a7;
}


li{
  padding: 12px 10px 12px 10px;
  cursor: pointer;
}
.color-list{
  font-weight: 700;
  font-size: 13px;
  color: var(--dci-darckblue);
}
#twoelement{
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-wrap: wrap;
}
.imgleft{
  min-width: 380px;
  width: 50%;
  float: left;
  padding: 20px 5px 20px 0px;
}
.imgright{
  min-width: 380px;
  width: 50%;
  float: right;
  padding: 20px 0px 20px 5px;
}
.navidad,.aeg{
  width: 100%;
  height: auto;
}
#dondeestamos{
  display: flex;
  width: 100%;
  background-color:var(--dci-background)
}
.tsevilla{
  overflow: hidden;
  height: 170px;
  position: relative;
  width: 370px;
}
.firstimage{
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  
}
#namestore{
  margin-bottom: 10px;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 20px;
  float: right;
}
.infosev{
  display: flex;
  width: 75%; 
  color: #ffffff;
  padding: 15px 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;

}
.line1{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 16px;
}
.title{
  margin-bottom: 10px;
  width: 312px;
  font-weight: 400;
  font-size: 20px;
}
#namestore::before{
  content: "";
  background-image: url(https://www.tien21.es/estaticos/images/Tien21/shopicon.svg);
  background-repeat: no-repeat;
  height: 24px;
  position: absolute;
  width: 30px;
  margin-left: -28px;
  margin-top: 1px;
  background-size: 23px;
}
.line2{
  float: left;
  width: 100%;
}
.infoaddress{
  float: left;
  margin-top: 20px;

}
#address{
  text-align: left;
  color: #ffffff;
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  width: auto;
  font-size: 17px;
  line-height: 24px;
  padding-right: 15px;
}
#phone{
  color: #ffffff;
  padding-left: 25px;
  font-family: 'Tien21', arial;
  font-weight: 800;
}
#phone::before{
  content: "";
  background-image: url(assets/phone.svg);
  background-repeat: no-repeat;
  filter: invert(100%);
  height: 20px;
  position: absolute;
  width: 20px;
  opacity: 1;
  z-index: 0;
  margin-left: -25px;
  margin-top: 3px;
}
#boton{
  position: relative;
  background-color: #ffffff;
  font-size: 15px;
  left: 0%;
  cursor: pointer;
  float: right;
  padding: 13px 40px 13px 70px;
  border-radius: 100px;
  margin-top: 5px;
}
#boton::before{
  content: "";
  background-image: url(https://www.tien21.es/estaticos/images/Tien21/howtoarrive.svg);
  background-repeat: no-repeat;
  height: 30px;
  position: absolute;
  width: 30px;
  margin-left: -50px;
  margin-top: -5px;
}
#popular{
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: start;
  flex-wrap: wrap;
}
.box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.box-art{
  background-color: white;
  min-height: 520px;
  width: 240px;
  border-radius: var(--dci-border-radius-s);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.30);
  text-align: left;
  margin: 5px;
  padding: 0px 10px 10px 10px;
}
.electro{
  object-fit: contain;
  width: 100%;
  height: 300px;
  padding: 35px 0px;
  max-height: 64%;
  max-width: 64%;
  margin: auto;
}
.imagen{
  display: flex;


}
.flex-cont{
  display: flex;
  flex-direction: column;

}
h2{
  font-style: normal;
  font-weight: 300;
  font-size: 28.833px;
  line-height: 36px;
  text-align: center;
  color: #1b2031;
}
h3{
  font-size: var(--dci-text-m);
  font-weight: 600;
  color: #0060a7;
  height: 40px;
}
.atributos{
  width: 205px;
  height: 105px;
  color: #252526;
  font-size: var(--dci-text-xs);
}
.atributos p{
  margin-bottom: 8px;
}
.stars img{
  width:20px;
}
.ventas{
  width: 65px;
  position: relative;
  left: 155px;
  bottom: 10px;
}
.ventas p{
  color: #0060a7;
  font-size: 16px;
}
.precioProducto{
  color:#e2271d;
  font-weight: bold;
  letter-spacing: 0;
  font-size: 30px;
}
.finance{
  font-size: 14px;
  font-weight: 600;
  background-color: #e2271d;
  width: 100%;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 32px;
  padding: 2px 0px 2px 0px;
}
.plazo p{
  text-decoration: underline;
  font-size: 13px;
  width: 85%;
  padding: 5px 0 20px 0px;
  color: #252526;
}
#fila{
  overflow: auto;
  padding: 40px;
  background-color: #f3f3f3;
}
.category{
  width: 100%;
  display: flex;
}
.category-content{
  width: 1440px;
  margin: auto;
}
.category li{
  margin: 10px;
  display: block;
  text-align: center;
  width: 140px;
  background-color: #ffffff;
  height: 130px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  cursor: pointer;
}
li a img{
  max-height: 64%;
  max-width: 64%;
  margin: auto;
  margin-top: 18%;
  object-fit: contain;
}
.title-file{
  font-size: 10px;
  font-weight: 400;
  color: #252526;
}
.ta{
  display: flex;
  justify-content: center;
  align-items: center;

}

footer{
  width: 100%;
  background: #ffffff;
  font-size: 0;
  padding: 0;
  padding-top: 40px;
  float: left;
  border-top: 10px solid #eff0f4;

}
 .foot{
  width: 90%;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}
.uno{
  min-width: 320.40px;
  padding: 15px 15px 0px 15px; 
  width: 33.33%;
}
.dos{
  min-width: 320.40px;
  padding: 15px 15px 0px 15px; 
  width: 33.33%;
}
.tres{
  min-width: 320.40px;
  padding: 15px 15px 0px 15px; 
  display: flex;
  flex-direction: column;
  width: 33.33%;
}
.uno p{
  color: #128289;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 25px;
}
.uno a{
  display: block;
  color: #0060a7;
  font-size: 16px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 600;
}
.atencion p{
  margin-bottom: 10px;
  font-weight: 400;
  color: #1b2031;
  font-size: 16px;
}
.atencion a{
  font-size: 14px;
  padding-bottom: 10px;
  display: block;
  color: #0060a7;

}
.enlaces  p{
  margin-top: 25px;
  margin-bottom: 10px;
  font-weight: 400;
  color: #1b2031;
  font-size: 16px;
}
.enlaces a{
  line-height: 20px;
  font-size: 14px;
  padding-bottom: 10px;
  display: block;
  color: #0060a7;
}
.news{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 10px 0 10px;
}
.tres label{
  font-size: 16px;
  text-transform: uppercase;
  color: #1b2031;
}
.boletin{
  padding-bottom: 15px;
}
#email{
  height: 50px;
  width: 100%;
  max-width: 500px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  border: 0px;
  background-color: #eaf1f2;
  border-radius: 100px;
}
.btn2{
  border: none;
  background: #e2271d;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin-left: 70%;
  margin-top: -53px;
  border-radius: 100px;
  height: 52px;
}
.news p{
  line-height: 18px;
  font-size: 12px;
  display: inline-block;
  color: #505050;
  margin-top: 12px;
  margin-bottom: 10px;
  padding-top: 5px;

}
.check{
  position: relative;
  text-align: left;
}
.check input{
  position: relative;
  width: 25px;
  height: 25px;
  left: 0px;
  top: 8px;
  margin: 0px;
}
.condiciones{
  line-height: 20px;
  margin: 5px 0 0 10px;
  color: #1b2031;
  padding: 0;
}
.condiciones a{
  text-decoration: underline;
  color: #0060a7;
}
.copyright{
  height:50px;
  width: 100%;
  text-align: center;
  padding: 15px;
  color: #ffffff;
  font-size: 15px;
  background-color: #1b2031;

}

@media (max-width: 760px){
  #twoelement{
    justify-content: center;
  }
  .imgleft, .imgright{
    width: 100%;
    padding: 10px;
  }


}
@media (max-width:950px){
  
  #namestore{
    margin-bottom: 10px;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 15px;
    float: left;
    margin-left: 30px;
  }
}
@media (max-width:910px){
  #boton{
    position: relative;
    background-color: #ffffff;
    font-size: 12px;
    left: 0%;
    cursor: pointer;
    float: right;
    padding: 10px 30px 10px 60px;
    border-radius: 100px;
    margin-top: 15px;
  }
  #boton::before{
    content: "";
    background-image: url(https://www.tien21.es/estaticos/images/Tien21/howtoarrive.svg);
    background-repeat: no-repeat;
    height: 30px;
    position: absolute;
    width: 25px;
    margin-left: -45px;
    margin-top: -5px;
  }
}
@media (max-width: 1090px) {
  .buscador {
    order: 1;
    margin-bottom: 10px;
    width: 95%;
    display: flex;
  }
  .menu-white{
    display: none;
  }
  
  .menu-blue{
    display: block;
    position: absolute;
    padding: 15px;
    top: 15px;
  }
  .btnblue{
    height: 35px;
    width: 35px;
  }
  .logo{
    width: 250px;
  }
  .logo1{
    width: 80%;
    float: right;
  }
  .secondbar{
    float: left;
  }
  .list{
    margin-left: 0;
  }
}
@media (max-width: 1200px){
  .foot{
    width: 80%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .uno{
    text-align: center;
  }
  .dos{
    text-align: center;
  }
  .tres{
    text-align: center;
  }
}
